
.Content {
    min-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.main-head{
    width: 334px;
    height: 79px;
    text-decoration: none;
    width: 334px;
    height: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 80px;

}
.text-ra{
    color: black;

}
.text-mba{
    color: aqua;
}

.flex-container {
    display: flex;
    height: 72px;
    width: 100%;    
    /*justify-content: flex-start;*/    
    gap: 1px;
}
.item {
    flex-grow: 1;
    height: 72px;
    background: #35444F;
    text-align:center;
}
    .item p {
        box-sizing: border-box;
        margin-top: 28px;
        margin-bottom: 27px;
    }

.flex-container a {
    text-decoration: none;
    color: white;
}
.item:hover {
    background-color: #222F3A;
    border-radius: 4px;
}
/*-------------------------------main-----------------------*/
.flex-aside {
    min-width: 344px;
    width: 27%;
    height: 399px;
}

.flex-colum-aside {
    
    color: #495863;
    border: 1px solid #000000;
    display: flex;
    
}

.container_item {
    width:100%;
    height: 100%;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

    .container_item * {
        padding: 21px 0px 21px;
        box-sizing: border-box;
        flex-grow: 1;
    }

 .item-aside:hover {
    background-color: #DBDBDB;
    border-radius: 4px;
 }
a {
    text-decoration: none;
    color: #495863;
}
.note1 {    
    padding: 0px 25px 0px 10px;
}


.flex-main {
    display: flex;
    gap: 52px;
}
.flex-colum-main {
    height: 931px;
    display: flex;
    flex-direction: column;
}

.image {
    border: 1px solid #000000;
    height: 70%;
}

.Class-picture {
    margin-top: 113px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

    .Class-picture:hover {
        transform: scale(1.2);
    }

.first_rticle {
    height: 20%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.second_article {
    height: 20%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}


/*-------------------------------.footer-----------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    height: 69px;
    background: #DBDBDB;
}

.footer_container a {
    color: #0C1927;
    text-decoration: none;
    background: #DBDBDB;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    line-height: 28px;
    width: 65%;
    background: #DBDBDB;
    padding: 15px 20px;
}

.footer_section_end {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 28px;
    line-height: 28px;
    width: 21%;
    background: #DBDBDB;
}

.item_footer:hover a {
    color: #3181A6;
    border-radius: 4px;
    border-bottom: 1px solid #3181A6;
}
