
.Content {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
}
.head-link {
    position: absolute;
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.text-ra{
    color: black;

}
.text-mba{
    color: aqua;
}
.flex-container {
    display: flex;
    height: 72px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}
.item1 {    
    width: 13%;
}

.item2 {
    width: 21%;
}

.item3 {
    padding: 23px;
}

.item4 {
    width: 19%;
}

.item5 {
    width: 16%;
}

.item6 {
    width: 11%;
}
